body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(IMG/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
    color: #333;
}
p {
    margin: 10px 0;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}
.gracias{
    padding-bottom: 15%;
}